<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Socializer{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    
    {% block scripts %}
        <script src="{{ url_for('static', path='/js/auth.js') }}"></script>
    {% endblock %}
    
    {% block extra_js %}{% endblock %}
</body>
</html>
